<div class="row">
  <div class="col s6">
    <ul class="collection with-header">
        <li class="collection-header"><h5>Read Owners and Their Items</h5></li>
        {{#each model.owners as |owner|}}
          <li class="collection-item">
            <div>
              {{owner.fullName}} |
              {{owner.age}} años
              <a {{action 'deleteOwner' owner}} class="secondary-content"> <i class="material-icons">delete</i></a>
              <a {{action 'selectOwner' owner}} class="secondary-content"> <i class="material-icons">edit</i></a>
            </div>
            <div>
              <ul>
                {{#each owner.items as |item|}}
                  <li>
                    {{item.name}}
                  </li>
                {{else}}
                  <li> No owned items yet...  </li>
                {{/each}}
              </ul>
            </div>
          </li>
        {{else}}
          <li class="collection-item">No owners registered...</li>
        {{/each}}
    </ul>
  </div>
  <div class="col s6">
    <ul class="collection with-header">
        <li class="collection-header"><h5>Read Items</h5></li>
        {{#each model.items as |item|}}
          <li class="collection-item">
            <div>
              {{item.name}} |
              {{item.description}} |
              Owned by {{if item.owner item.owner.fullName 'None'}}
              <a {{action 'deleteItem' item}} class="secondary-content"> <i class="material-icons">delete</i></a>
              <a {{action 'selectItem' item}} class="secondary-content"> <i class="material-icons">edit</i></a>
            </div>
            <div>
              <ul>
                {{#each item.photos as |photo|}}
                  <li>{{photo.name}}</li>
                {{else}}
                  <li>No photos yet...</li>
                {{/each}}
              </ul>
            </div>
          </li>
        {{else}}
          <li class="collection-item">No items registered...</li>
        {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s6">
    <h4> Create Owner </h4>
    <div class="row">
        <form class="col s12" {{action 'createOwner' on='submit'}}>
          <div class="row">
            <div class="input-field col s8">
              {{input type="text" value=fullName}}
              <label> Name</label>
            </div>
            <div class="input-field col s4">
              {{input type="number" value=age}}
              <label> Age</label>
            </div>
          </div>
          <div class="row">
            <button class="waves-effect waves-light btn">Save</button>
          </div>
        </form>
    </div>
  </div>
  <div class="col s6">
    <h4> Create Item </h4>
    <div class="row">
        <form class="col s12" {{action 'createItem' on='submit'}}>
          <div class="row">
            <div class="input-field col s4">
              {{input type="text" value=itemName}}
              <label> Name</label>
            </div>
            <div class="input-field col s8">
              {{textarea class="materialize-textarea" type="text" value=description}}
              <label> Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10">
                {{#power-select
                  options=model.owners
                  selected=ownerOfItem
                  searchField='fullName'
                  placeholder='Select an Owner'
                  onchange=(action (mut ownerOfItem))
                  as |owner|}}
                  {{owner.fullName}}
                {{/power-select}}
            </div>
            <div class="col s2">
              {{#if ownerOfItem}}
                <button class="waves-effect waves-light btn">Save</button>
              {{/if}}
            </div>
          </div>
        </form>
    </div>
  </div>
</div>

<div class="row">
  {{#if selectedOwner}}
    <div class="col s6">
      <h4> Update Owner </h4>
      <div class="row">
          <form class="col s12"  {{action 'editOwner' selectedOwner on='submit'}}>
            <div class="row">
              <div class="input-field col s8">
                {{input type="text" value=selectedOwner.fullName}}
                <label> Name</label>
              </div>
              <div class="input-field col s4">
                {{input type="number" value=selectedOwner.age}}
                <label> Age</label>
              </div>
            </div>
            <div class="row">
              <button class="waves-effect waves-light btn">Save</button>
            </div>
          </form>
      </div>
    </div>
  {{/if}}
  {{#if selectedItem}}
    <div class="col s6">
      <h4> Update Item </h4>
      <div class="row">
          <form class="col s12" {{action 'editItem' selectedItem on='submit'}}>
            <div class="row">
              <div class="input-field col s4">
                {{input type="text" value=selectedItem.name}}
                <label> Name</label>
              </div>
              <div class="input-field col s8">
                {{textarea class="materialize-textarea" type="text" value=selectedItem.description}}
                <label> Description</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                  {{#power-select
                    options=model.owners
                    selected=selectedItem.owner
                    searchField='fullName'
                    placeholder='Select an Owner'
                    onchange=(action (mut selectedItem.owner))
                    as |owner|}}
                    {{owner.fullName}}
                  {{/power-select}}
              </div>
              <div class="col s4">
                <div class="input-field col s4">
                  {{x-file-input
                    class="btn white-text"
                    multiple=false
                    action=(action 'insertImage' selectedItem)
                    accept="image/*"
                    alt="Agregar Foto"}}
                </div>
              </div>
              <div class="col s2">
                <button class="waves-effect waves-light btn">Save</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  {{/if}}
</div>
